header {
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: smaller;
    overflow: hidden;
    z-index: 20;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
}

.main {
    padding-top: 30px;
}

.update {
    font-size: xx-small;
    text-align: right;
    margin-right: 5px;
}

.card {
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.articleLink {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100px;
}

.articleCard {
    height: 100%;
    background-color: white;
}

.TandD {
    display: flex;
}

.articleTitle {
    display: flex;
    width: 100%;
}

.articleDateMain {
    width: 100px;
    text-align: right;
    font-size: small;
}

.bmain{
    display: block;
}

@media screen and (max-width: 750px) {
    .card {
        width: 90%;
    }

    .articleDateMain {
        font-size: x-small;
    }

    .articleCard {
        height: 100%;
    }
}