.articleCardMain {
    margin-top: 5px;
    padding: 3px 5px 0px 5px;
    height: auto;
    width: 100%;
    background-color: white;
}

.article_tag {
    margin-left: auto;
    background-color: #d3d3d3;
    font-size: small;
    margin-top: auto;
}

.articleDate {
    width: 100%;
    text-align: right;
    font-size: small;
}

.articleMain.a{
    color: blue;
}

pre {
    width: 80%;
    border-radius: 3px;
    padding: 4px;
    background-color: lightgray;
    margin: 0 0 0 5%;
}

@media screen and (max-width: 750px) {
    .article {
        font-size: 1em;
    }
}