@page "/article/{AId:int}"

<PageTitle>NT48 Blog Home</PageTitle>
<br>

@if (AId.HasValue)
{
    <_213._0201_NT48.Components.Article ArticleID="@AId.Value" />
}
else
{
    <p>記事IDが不正</p>
}
@code {
    [Parameter]
    public int? AId { get; set; }

}