@page "/banner"

<PageTitle>NT48 Blog Home</PageTitle>

<h2>Link集になりたいページ</h2>
<br>
<p>当サイトのバナーです。ご自由にお持ちください</p>
<blink><a href="https://blog.nt48.com" target="_blank"><img src="banner.png" width="200"></a></blink>
<p>相互リンク大募集中です！！</p>
