.card[b-7ptp4mjafa] {
    height: auto;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    padding: 5px;
    box-shadow: 0px 10px 10px 0 #b4c7dc;
    display: flex;
    border-radius: 10px;
    margin-top: 15px;
}