html {
    font-size: 18px;
}

header {
    height: 100px;
    width: 100%;
    box-shadow: 0px 10px 10px -5px whitesmoke;
}

img {
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

p {
    align-content: center;
    margin: 0 0 0 5%;
}


.link {
    padding: 0 5% 0 5%;
    font-size: 1.2rem;
    width: 60%;
}

.card {
    height: 100px;
    min-width: 200px;
    width: 100%;
    padding-top: 15px;
    box-shadow: 0px 10px 10px 0 whitesmoke;
    display: flex;
    border-radius: 10px;
}

@media screen and (max-width: 750px) {
    header {
        height: 60px;
    }

    .link {
        width: 90%;
    }
}